{% layout "blog-layout" %}

{% block content %}
	<div>
		<h1>Archive</h1>
		{% archive "posts" %}
		{% for item in archive.items %}
			<h3>{{ item.year }}</h3>
			<ul class="archive">
			{% for post in item.children %}
				{% capture _slug %}{{post.slug | remove: '/posts/'}}{% endcapture %}
				<li><a href="/blog/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/{{ post.date | date:'%d'}}/{{_slug}}">{{ post.title }}</a></li>
			{% endfor %}
			</ul>
		{% endfor %}
	{% endarchive %}
	</div>
{% endblock %}