{% layout "master-layout" %}
{% block content %}
<div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container main-banner">
    <div class="row">
      <div class="col-md-8 text-center">
        <h1>Kungfu Software</h1>
        <p>Hybris + AEM + Meteor + Android + IOS + Spring </p>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="#contact" >
            <i class="fa fa-envelope-o"></i>&nbsp;&nbsp; Hire Us !
          </a>
        </div>

      </div>
      <div class="col-md-4">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner text-center">
            <div class="item">
              <div><i class="fa fa-apple"></i>
              </div>
            </div>
            <div class="item">
              <div><i class="fa fa-android"></i>
              </div>
            </div>
            <div class="item active">
              <div><i class="fi fi-social-adobe"></i>
              </div>
            </div>
            <div class="item">
              <div>
                <img class="hybris-logo" src="{{ 'hybris_logo_inverse.png' | asset_url }}">
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#icon-carousel" data-slide="prev" onclick="">
            <i class="fa fa-arrow-circle-left"></i>
          </a>
          <a class="carousel-control right" href="#icon-carousel" data-slide="next" onclick="">
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="main-body">
  <div class="container">

    <section>
      <div class="shameless-self-promotion">
        <h2 class="page-header"> What we do? </h2>
        <p class="lead">
          KungFu Software is a startup company based in Melbourne. We are focusing on Application Development and Digital Consulting Businesss. Our Skills Set cross multipule area including Building HTML5 Websites, IOS + Android Native Applications, Hybris, AEM
          Consulting work And Spring Integration Work.
        </p>
      </div>
    </section>

    <section id="services">
      <div class="row">
        <div class="col-md-4">
          <h4><i class="fa fa-html5 fa-3x"></i> We like building Website Apps</h4>
          <p>We are using cutting edge technologies (MeteorJS, AngularJS, NodeJs) to build sites</p>
          <div>
            <ul class="list-group">
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Design and build fully responsive sites</li>
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Cheap on budget, Wow in results</li>
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Search Engine Optimization, Google Analytics Experts</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h4><i class="fa fa-android fa-3x"></i> We like building Android Apps </h4>
          <p>We created serveral popular Android Apps on the Play Market!!!</p>
          <div>
            <ul class="list-group">
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Design and build native Android Apps</li>
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Cheap on budget, Wow in results</li>
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Born for small Business and die for small Business</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h4>
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
            </span> <span class="apple-fan-boys">Apple Fan Boys</span> </h4>
          <p>We created serveral popular IOS Apps on the Play Market!!!</p>
          <div>
            <ul class="list-group">
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Swift Ready, Future proof</li>
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Cheap on budget, Wow in results</li>
              <li class="list-group-item">
                <span><i class="fa fa-check-circle"></i>
                </span> &nbsp;Born for small Business and die for small Business</li>
            </ul>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <h4>
              <img class="hybris-logo" src="{{'hybris_logo.png' | asset_url}}"><span class="hybris-experts">Hybris Experts</span></h4>
            <p>We are highly skilled Hybris Experts</p>
            <div>
              <ul class="list-group">
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;3+ years hands-on Hybris Experience</li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;Hybris Independant Programe</li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;Delivered 5+ real hybris projects </li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;Hybris Core Developer Certificate</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <h4><i class="fi fi-social-adobe fa-3x"></i> Adobe Experience Manager Expert </h4>
            <p>We are familiar with Adobe Marketing Cloud</p>
            <div>
              <ul class="list-group">
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;3+ years hands-on CQ5/AEM Experience</li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;Adobe Target + Adobe Analytics + Adobe Campaign</li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;Delivered 5+ AEM projects </li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;AEM 6.0 Core Developer Certificate</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <h4><i class="fa fa-github-alt fa-3x"></i> Yes! We open source! </h4>
            <p>We even open source this website.</p>
            <div>
              <ul class="list-group">
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;3+ years hands-on CQ5/AEM Experience</li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;Adobe Target + Adobe Analytics + Adobe Compain</li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;Delivered 5+ AEM projects </li>
                <li class="list-group-item">
                  <span><i class="fa fa-check-circle"></i>
                  </span> &nbsp;AEM 6.0 Core Developer Certificate</li>
              </ul>
            </div>
          </div>
        </div>
    </section>

    <section id="platforms">
      <h2 class="page-header">Platforms</h2>
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="hybris-logo">
            <img src="{{'hybris_logo_withtext.png' | asset_url}}" alt="hybris logo with text"></img>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="google-logo">
            <img src="{{'google_logo.png' | asset_url}}" alt="google logo with text"></img>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="spring-logo">
            <img src="{{'spring_logo.jpg' | asset_url}}" alt="spring mvc, java logo with text"></img>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="meteor-logo">
            <img src="{{'meteor_logo.png' | asset_url}}" alt="meteorjs javascript logo with text"></img>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="adobe-logo">
            <img src="{{'adobe_logo.jpg' | asset_url}}" alt="adobe, cq5, aem logo with text"></img>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="apple-logo">
            <img src="{{'apple_logo.png' | asset_url}}" alt="apple ios logo with text"></img>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="android-logo">
            <img src="{{'android_logo.png' | asset_url}}" alt="andriod logo with text"></img>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="angularjs-logo">
            <img src="{{'angularjs_logo.png' | asset_url}}" alt="angularjs logo with text"></img>
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <h2 class="page-header">Team</h2>
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="profile">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-weibo"></i></a>
            <img src="{{'seabook_avarta.png' | asset_url}}" alt="Seabook Chen" class="img-circle profile-image">
            <div class="profile-desc">
              <ul class="list-group">
                <li class="list-group-item">4 years SAP Hybris Exp</li>
                <li class="list-group-item">2 years AEM exp</li>
                <li class="list-group-item">Wordpress, woocommerce, javascript, java, python, groovy, meteorjs</li>
                <li class="list-group-item">Learning python</li>
                <li class="list-group-item">and try to run as fast as forrest gump</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-md-3 col-xs-6">
          <div class="profile">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-weibo"></i></a>
            <img src="{{'profile_pic1.png' | asset_url}}" alt="Hetty Tan" class="img-circle profile-image">
            <div class="profile-desc">
              <ul class="list-group">
                <li class="list-group-item">2 years hybris</li>
                <li class="list-group-item">12 years java, javascript, spring framework</li>
                <li class="list-group-item">Victoria Champion in Cooperate Swimming Competion</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="profile">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-weibo"></i></a>
            <img src="{{'profile_pic2.png' | asset_url}}" alt="Seabook Chen" class="img-circle profile-image">
            <div class="profile-desc">
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="profile">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-weibo"></i></a>
            <img src="{{'profile_pic3.png' | asset_url}}" alt="Seabook Chen" class="img-circle profile-image">
            <div class="profile-desc">
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>

    <section id="contact">
      <h2 class="page-header">Contact</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="lead">
            <i class="fa fa-map-marker"></i> We are located in Melbourne, Australia
          </p>
          <div id="mapCanvas">

          </div>
        </div>
        <div class="col-md-1 split-gap"></div>
        <div class="col-md-5">
          <div id="wufoo-zic0am906a3swg">
            Fill out my <a href="https://kungfusoftware.wufoo.com/forms/zic0am906a3swg">online form</a>.
          </div>
          <script type="text/javascript">
            var zic0am906a3swg;
            (function(d, t) {
              var s = d.createElement(t),
                options = {
                  'userName': 'kungfusoftware',
                  'formHash': 'zic0am906a3swg',
                  'autoResize': true,
                  'height': '750',
                  'async': true,
                  'host': 'wufoo.com',
                  'header': 'show',
                  'ssl': true
                };
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
                var rs = this.readyState;
                if (rs)
                  if (rs != 'complete')
                    if (rs != 'loaded') return;
                try {
                  zic0am906a3swg = new WufooForm();
                  zic0am906a3swg.initialize(options);
                  zic0am906a3swg.display();
                } catch (e) {}
              };
              var scr = d.getElementsByTagName(t)[0],
                par = scr.parentNode;
              par.insertBefore(s, scr);
            })(document, 'script');
          </script>
        </div>
      </div>
    </section>

    <br></br>
  </div>
</div>
{% endblock %}
